@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed.ttf') format('truetype')
}

* {
    font-family: Roboto;
}

.upper {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
}